/*global elements styles*/
a {
    text-decoration: none !important;
}

.page-container {
    width: 85%;
}
/*global elements styles*/



/*generic class for job item*/
.job-item {
    max-height: 140px;
}
.job-item:hover {
    background-color: #f0f0f0;
}
/*generic class for job item*/

/*class for job item logo*/
.job-item .logo {
    width: 60px;
    height: 60px;
    margin-top: 10px;
}
/*class for job item logo*/

/*class for promoted job items*/
.job-item-promotion {
    background-color: #0099cb5e;
}
.job-item-promotion:hover {
    background-color: #0099cb91;
}
/*class for promoted job items*/

/*personal_data page styles*/
.search-container-transparent {
    width: 1200px;
    opacity: 0.7;
}
.search-container-transparent:hover {
    opacity: 1;
}
/*personal_data page styles*/

/*Footer--socialNetworksContainer*/
.social-networks-container {
    background-color:  #0099cb;
}



.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442; !important;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}