/*global elements styles*/
a {
    text-decoration: none !important;
}

.page-container {
    width: 85%;
}




/*generic class for job item*/
.job-item {
    max-height: 140px;
}
.job-item:hover {
    background-color: #f0f0f0;
}
/*class for job item logo*/
.job-item .logo {
    width: 60px;
    height: 60px;
    margin-top: 10px;
}

/*class for promoted job items*/
.job-item-promotion {
    background-color: #1775b845;
}
.job-item-promotion:hover {
    background-color: #1775b885;
}

/*personal_data page styles*/
.search-container-transparent {
    width: 1200px;
    opacity: 0.7;
}
.search-container-transparent:hover {
    opacity: 1;
}

